<?xml version="1.0"?>
<config>
    <modules>
        <MaxChadwick_TransactionalEmailHeaders>
            <version>1.0.0</version>
        </MaxChadwick_TransactionalEmailHeaders>
    </modules>
    <global>
        <blocks>
            <transactionalemailheaders>
                <class>MaxChadwick_TransactionalEmailHeaders_Block</class>
            </transactionalemailheaders>
            <adminhtml>
                <rewrite>
                    <system_email_template_edit_form>MaxChadwick_TransactionalEmailHeaders_Block_Email_Form</system_email_template_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <transactionalemailheaders>
                <class>MaxChadwick_TransactionalEmailHeaders_Model</class>
                <resourceModel>transactionalemailheaders_resource</resourceModel>
            </transactionalemailheaders>
            <transactionalemailheaders_resource>
                <class>MaxChadwick_TransactionalEmailHeaders_Model_Resource</class>
                <entities>
                    <email_header>
                        <table>transactionalemailheaders_email_header</table>
                    </email_header>
                </entities>
            </transactionalemailheaders_resource>
            <core>
                <rewrite>
                    <email_template>MaxChadwick_TransactionalEmailHeaders_Model_Email_Template</email_template>
                </rewrite>
            </core>   
        </models>
        <resources>
            <transactionalemailheaders_setup>
                <setup>
                    <module>MaxChadwick_TransactionalEmailHeaders</module>
                    <class>MaxChadwick_TransactionalEmailHeaders_Model_Resource_Setup</class>
                </setup>
            </transactionalemailheaders_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MaxChadwick_TransactionalEmailHeaders before="Mage_Adminhtml">MaxChadwick_TransactionalEmailHeaders</MaxChadwick_TransactionalEmailHeaders>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>